*{margin: 0;padding: 0;box-sizing: border-box;}
ul,li{list-style: none;}
body{background: #EFEFEF;}
a{text-decoration: none;color: inherit}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.siteWelcome{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #cfcfcf;
    justify-content: center;
    align-items: center;
}
.siteWelcome.active{
    display: flex;
}
.loading{
    width: 200px;
    height: 200px;
    position: relative;
}
.loading::before,.loading::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #000000;
    border-radius: 50%;
    animation: loadingCartoon 1s linear infinite;
}
.loading::after{
    animation-delay: 0.75s;
}
@keyframes loadingCartoon{
    0%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}
.topNavBar{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    color: #B7B7B7;
}
.topNavBar.sticky{
    background: #ffffff;
    z-index: 1;
    padding: 10px 0;
    color: #3d4451;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.topNavBar_inner{
    padding: 0 16px;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #E6686A;
}
.topNavBar .logo .card{
    color: #9A8DA2;
}
.topNavBar nav{
    padding: 4px 0;
    float: right;
}
.topNavBar nav >ul >li{
    float: left;
    margin: 0 17px;
    position: relative;
}
.topNavBar nav >ul >li >a{
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    padding: 5px 0;
    display: block;
    position: relative;
}
.topNavBar nav >ul >li >a:hover::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #CF5D5F;
    animation: sliderUnderline 0.3s linear;
}
@keyframes sliderUnderline {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #3d4451;
}
.topNavBar .submenu.active{
    display: block;
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 10px;
}
.banner{
    height: 515px;
    background: url('../img/cover.jpg') no-repeat center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.7);
}
.userCard{
    max-width: 940px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    font: 18px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .welcome{
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 16px;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
 }
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1{
    margin-top: 18px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 5px 0;
}
.userCard dl dt{
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #8C8C8C;
}
.userCard .media{
    background: #E6686A;
    text-align: center;
}
.userCard .media >a{
    display: inline-block;
    width: 40px;
    line-height: 20px;
    padding: 10px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard .media svg{
    width: 20px;
    height: 20px;
    fill: #ffffff;
    vertical-align: top;
}
.userCard .media >a:hover{
    background: #CF5D5F;
}
body >main{
    margin-top: -340px;
}
body >main .download-wrapper{
    text-align: center;
}
body >main .download{
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    border-radius: 2px;
    color: #3D4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.3s;
}
body >main .download:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
}
body >main .selfIntroduction{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font: 20px/1.8 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin: 68px auto 0px;
}
section.skills >h2,
section.portfolio >h2{
    text-align: center;
    color: #3D4451;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills >ol{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills >ol >li{
    float: left;
    width: 48%;
}
section.skills >ol >li >p{
    color: #8C8C8C;
}
section.skills >ol >li:nth-child(even){
    float: right;
}
section.skills .progress-wrapper{
    height: 5px;
    background: #FAE1E1;
    border-radius: 3px;
    margin: 4px 0 40px;
}
section.skills .progress{
    height: 100%;
    width: 70%;
    background: #E6686A;
    border-radius: 3px;
}
section.portfolio{
    text-align: center;
    margin-bottom: 100px;
}
section.portfolio >nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 32px auto;
}
section.portfolio >nav >ol{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
section.portfolio >nav >ol >li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio >nav >ol >li:first-child{
    margin-left: 0px;
}
section.portfolio .sliderBar{
    height: 5px;
    background: white;
    border-radius: 3px;
    margin-top: 5px;
}
section.portfolio .sliderBar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 3px;
    transition: all 1.5s;
}
section.portfolio .sliderBar.state1 .sliderBar-inner{
    margin-left: 0;
    width: 32px;
}
section.portfolio .sliderBar.state2 .sliderBar-inner{
    margin-left: 70px;
    width: 36px;
}
section.portfolio .sliderBar.state3 .sliderBar-inner{
    margin-left: 140px;
    width: 56px;
}
section.portfolio .works{
    position: relative;
    height: 620px;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}